*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    max-width: 1180px;
    padding: 0 50px;
    margin:0 auto;
}

header{
    border-bottom: black 1px solid;

}
nav .container{
    margin-left:0;
    padding-left:0;
}

.main__nav{
    display:flex;
    /* align-items: center; */
    height: 44px;
}
.logo{
    flex-grow: 1;
    background-color: rgb(22, 59, 129);
    color:#fff;
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    /* padding:15px 5px; */
    padding:0 10px;
    display:flex;
    align-items: center;
    justify-content:flex-end;
    /* margin-left:30px; */
}
.logo span{
    font-weight: 1000;
}
.main__items{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-grow: 5;
}
.main__items .gray__item ul li:first-child{
    background-color: rgb(241, 237, 237);
    padding:13px 10px;
    color:gray;
    margin:0;

}


.main__items .gray__item ul li{
    list-style: none;
    padding:2px 8px;
    color:gray;
    margin:5px 15px;
}
.main__items .gray__item ul{
    display:flex;
    margin-bottom: 0;
    height: 100%;
    align-items: center;
}

.main__items .blue__item ul{
    display:flex;
    margin-bottom: 0;
    height: 100%;
    align-items: center;

}

.main__items .blue__item ul a{
    text-decoration: none;
    padding:10px 8px;
    color:rgb(69, 122, 219);
    margin: 5px 9px;

}
.main__items .blue__item ul a:hover{
    border-bottom: 2px solid rgb(69, 122, 219);
    cursor: pointer;
}

/* showcase */

#showcase{
    height: 94vh;
    background: url("../img/showcase_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#showcase .container{
    height: 100%;
}
.main__showcase{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
}

.main__showcase img{
    height: 100px;
}

.main__text{
    font-size: 31px;
    color:#fff;
    margin:0 200px;
    text-align: center;
    line-height: 1.5;
}

.mark{
    position: absolute;
    left:0;
    top:90%;
    color:#fff;
    padding:5px 10px;
}
.color-blue{
background:rgb(69, 122, 219);
}
.color-red{
    background:red;
}
.color-black{
    background: black;
}
.color-green{
    background: green;
}
.color-purple{
    background:purple;
}

.data{
    position: absolute;
    right:0;
    top:90%;
    color:#fff;
    padding:5px 10px;
    font-size: 13px;
}

.data span{
    color:rgb(69, 122, 219);
}

.data span:hover{
    cursor: pointer;
}
.desc{
    color:rgb(170, 168, 168);
    padding:5px 10px;
    font-size: 13px;
}
.desc span{
    color:rgb(69, 122, 219);
}
.flex__item img{
    width: 100%;
    height: 220px;
}
.flex__item p{
    margin:10px 0;
    padding:5px 10px;

}

.flex__item {
    margin:25px 15px;
}
.flex__items{
    display:flex;
}
.flex__item>div{
    position:relative;
}

.mark-2{
    position: absolute;
    left:0;
    top:80%;
    color:#fff;
    padding:5px 10px;
}

.double{
    margin-bottom: 60px;
}

.second-show{
    height: 220px;
    background: url("../img/3.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.second-show{
margin-bottom: 60px;
}
.triple .flex__items .flex__item{
    width: 30%;
}
.triple .flex__items{
    flex-wrap: wrap;
}

.triple{
    margin-bottom: 60px;
}

footer{
    height: 66vh;
    background:url(../img/showcase_footer.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 200px;
}

footer .flex__items{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .flex__items h1{
    color:#fff;
    font-size: 38px;
}

footer .flex__items p{
    color:gray;
    font-size: 20px;
    margin: 10px 0;
}

.subscribeForm {
    width: 600px;
    margin: 0 auto;
    position: relative;
}

#subscribeInput {
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    height: 50px;
    width: 100px;
    background: rgb(57, 131, 216);
    border: 0px;
    padding: 0px 190px 0px 28px;
    display: block;
    width: 600px;
    margin: 0 auto;
    position: relative;
    border-radius: 25px;
    outline: none;
}
.form-control {
    display: block;
    /* width: 100%; */
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn {
    text-decoration: none;
    font-size: 18px;
    color: blue;
    background:#fff;
    padding: 10px 40px;
    border-radius: 20px;
    /* transition: all 0.3s ease-in-out; */
}
.subscribeBtn {
    position: absolute;
    border-radius: 50px;
    height: 50px;
    width: 180px;
    border: 0px;
    right: 0px;
    top: 0px;
}